.text-center
  %h1 A Marketplace for Code Snippets
  %br
  %br

%table.table
  %tr
    %th Title
    %th Price
    %th Language
    %th

  - @snippets.each do |snippet|
    %tr
      %td= link_to snippet.title, snippet
      %td= snippet.human_price
      %td= snippet.language
      %td
        - if can? :manage, @snippet
          .btn-group
            = link_to 'Edit', edit_snippet_path(snippet), class: 'btn btn-default btn-xs'
            = link_to 'Destroy', snippet, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs'

%br

= link_to fa_icon(:plus, text: "New Snippet"), new_snippet_path, class: 'btn btn-primary'
