%h1= @snippet.title
%h4
  By
  = @snippet.user.email
= @snippet.syntaxed_code
%h4
  %b Price:
  = @snippet.human_price

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
