%h1 Listing orders

%table
  %tr
    %th Snippet
    %th User
    %th Amount
    %th Usd amount
    %th Coinbase
    %th Coinbase code
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.snippet_id
      %td= order.user_id
      %td= order.amount
      %td= order.usd_amount
      %td= order.coinbase_id
      %td= order.coinbase_code
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
